<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <display-name>RequestHandler</display-name>
        <servlet-name>RequestHandlerServlet</servlet-name>
        <servlet-class>com.appnexus.integration.servlet.RequestHandlerServlet</servlet-class>
        <init-param>
            <param-name>myName</param-name>
            <param-value>value</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
</web-app>
